@media (max-width: 725px) {
  #widget-immodvisor {
    margin-bottom: -220px;
  }
}

@media (max-width: 1550px) and (min-width: 726px) {
  #widget-immodvisor {
    /*margin-bottom: -250px;*/
    position: relative;
    width: 250px;
    height: 286px;
    float: right;
    bottom: 285px;
    margin-right: -20px;
  }
  .agency-title {
    margin-top: 20px;
    margin-bottom: 160px;
  }
}

@media (min-width: 1551px) {
  #widget-immodvisor {
    position: fixed;
    right: 0px;
    top: 200px;
  }
}
/*
     FILE ARCHIVED ON 07:42:01 Oct 13, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:20:48 Jul 09, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 135.548
  exclusion.robots.policy: 0.351
  LoadShardBlock: 86.751 (3)
  PetaboxLoader3.resolve: 120.928
  RedisCDXSource: 12.811
  exclusion.robots: 0.372
  load_resource: 143.98
  esindex: 0.022
  PetaboxLoader3.datanode: 101.128 (4)
  CDXLines.iter: 28.782 (3)
*/